
.allDetails {
    /* margin: auto; */
    /* width: 60%; */
    text-align: center; 
    color: aliceblue;

}

.buttonPrivateArea {
    display: flex;
    align-items: center;
    
}

.fullName {
    
}