

.tripCard {
    border: 1px solid black;
    flex-wrap: wrap;
    width: 300px;
    text-align: center;
    margin: 10px;
}

.description {
    line-break: anywhere;
}

.like {
    color: red;
}

.dislike {
    
}